version: '3.8'

services:
  portfolio:
    build: .
    container_name: nguyenantoine-portfolio
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=www.nguyenantoine.com,nguyenantoine.com
      - LETSENCRYPT_HOST=www.nguyenantoine.com,nguyenantoine.com
      - LETSENCRYPT_EMAIL=antoine.ngu@outlook.fr
    restart: unless-stopped
    networks:
      - reverse-proxy

networks:
  reverse-proxy:
    external: true
