services:
  web:
    build: .
    image: portfolio-nguyen-antoine:latest
    container_name: portfolio
    restart: always
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=${VIRTUAL_HOST}
      - LETSENCRYPT_HOST=${LETSENCRYPT_HOST}
      - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
    networks:
      - default
      - reverse-proxy

networks:
  reverse-proxy:
    external: true
