	<section id="fh5co-testimonials" data-section="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.testimonials.title }}{{ . | markdownify }}{{ end }}</h2>
					<div class="row">
						<div class="col-md-8 col-md-offset-2 subtext to-animate">
							<h3>{{ with .Site.Params.testimonials.description }}{{ . | markdownify }}{{ end }}</h3>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{{ range .Site.Params.testimonials.item }}
				<div class="col-md-4">
					<div class="box-testimony">
						<blockquote class="to-animate-2">
							<p>{{ .quote | markdownify}}</p>
						</blockquote>
						<div class="author to-animate">
							<div class="row">
								<div class="col-sm-2">
									<img style="max-height: 40px; max-width: 40px" src="images/{{ .img }}" alt="{{ .alt }}">&nbsp;
								</div>
								<div class="col-sm-10">
									{{ .person | markdownify }}
								</div>
							</div>
						</div>
					</div>
				</div>
			{{ end }}
			</div>
			{{ if .Site.Params.testimonials.video.enable }}
			<div class="row watch-video text-center to-animate">
				<!-- <span>{{ with .Site.Params.testimonials.video }}{{ . }}{{ end }}</span> -->
				<span>{{.Site.Params.testimonials.video.title | markdownify }}</span>

				<a href="{{ .Site.Params.testimonials.video.url }}" class="popup-youtube btn-video"><i class="{{ .Site.Params.testimonials.video.icon | markdownify }}"></i></a>
			</div>
			{{ end }}
		</div>
	</section>